@model List<PostDto>;

<table class="table text-light text-center align-middle mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Account ID</th>
            <th scope="col">Account</th>
            <th scope="col">Likes</th>
            <th scope="col">Comments</th>
            <th scope="col">Post Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>

                <td>@i.AccountId</td>

                <th>
                    <a class="account-login gradient-text" asp-controller="Accounts" asp-action="Profile" asp-route-id="@i.AccountId">@i.Account.Login</a>
                </th>

                <td>@i.Likes.Count()</td>
                <td>@i.Comments.Count()</td>
                <td>@i.PostTime.ToString("dd.MM.yyyy HH:mm")</td>

                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-dark" asp-controller="Posts" asp-action="Details" asp-route-id="@i.Id">
                            <i class="bi bi-info"></i>
                        </a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="RemovePost" asp-route-id="@i.Id">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>